# TODO 2: Add properties and public key.
server:
  port: 8080

spring:
  application:
    name: cloud-gateway-api-gateway

  cloud:
    config:
      import-check.enabled: false
      uri: http://localhost:8888
    gateway:
      httpclient:
        use-native-resolver: true
      discovery:
        locator:
          enabled: true
      routes:
        - id: cloud-gateway-sample-service
          uri: lb://cloud-gateway-sample-service
          predicates:
            - Path=/sample/**
#          filters:
#            - StripPrefix=1
#            - name: RequestRateLimiter
#              args:
#                redis-rate-limiter.replenishRate: 10
#                redis-rate-limiter.burstCapacity: 20


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1       # optional: binds explicitly to localhost
    hostname: localhost        # optional: explicit hostname override

security:
  oauth2:
    resourceserver:
      jwt:
        # Either a JWK Set URI or classpath PEM
#        jwk-set-uri: http://localhost:8080/.well-known/jwks.json
# or
#issuer-uri: http://localhost:8080/auth/realms/myrealm
        # OR for PEM:
         public-key-location: keys/jwt-public.pem


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,trace
  metrics:
    export:
      prometheus:
        enabled: true

# Resilience4j (Circuit Breaker)
# Enable global defaults
resilience4j:
  circuitbreaker:
    configs:
      default:
        failureRateThreshold: 50
        #        ringBufferSizeInClosedState: 10
        waitDurationInOpenState: 30s
    instances:
      sample-service:
        baseConfig: default