# TODO 3: Add dev properties.
spring:
  config:
    activate:
      on-profile: dev

  application:
    name: spring-profiles-dev

  datasource:
    url: jdbc:h2:mem:devdb;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      mode: always

logging:
  level:
    root: DEBUG
    org.springframework: DEBUG
    sun.rmi: ERROR

management:
  endpoints:
    web:
      exposure:
        include: health, info, beans
