# TODO 4: Add config

server:
  port: 8090

spring:
  application:
    name: jwt-server
  datasource:
    url: jdbc:h2:mem:jwt_demo;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=false
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

jwt:
  key-store-path: keys/jwt-private.pem
  pub-key-path: keys/jwt-public.pem
  key-algorithm: RSA
  token-validity-seconds: 3600


management:
  endpoints:
    web:
      base-path: /actuator   # default
      exposure:
        include: health,info,health/liveness,health/readiness
  endpoint:
    health:
      show-details: never     # or when_authorized/always

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web.FilterChainProxy: DEBUG
