# TODO 19: Add payment-service properties.
spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  application:
    name: payment-service
  datasource:
    url: jdbc:h2:mem:payments;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082

logging:
  level:
    org.hibernate.SQL: DEBUG
