# TODO 13: Add order-service properties.
spring:
  application:
    name: order-service
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:orders;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        orderCreated-out-0:
          destination: order-created
        paymentProcessed-in-0:
          destination: payment-processed
        paymentFailed-in-0:
          destination: payment-failed
    function:
      definition: paymentProcessed;paymentFailed

server:
  port: 8081
